# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Base de données
*.db
*.sqlite3
postgres_data/

# Docker
.dockerignore

# Variables d'environnement
.env
.env.local

# IDE
.vscode/
.idea/

# Logs
*.log

# Tests
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
